<!DOCTYPE html>
<html lang="en">
  <%- include('./head') -%>
  <body class="vh-100 d-flex flex-column">
    <header class="bg-dark ps-2 pe-3 shadow">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/userProfile/own">
          <img src="/imgs/d20.png" width="30" height="30" class="d-inline-block align-top" alt="dice">
          Not This Week
        </a>
          <a href="/characterFeed" class="btn btn-outline-primary ms-auto " >See all characters</a>
          <a href="/feed" class="btn btn-outline-primary ms-1 " >See all games</a>
        <a href="/logout" class="btn btn-outline-light ms-3">Logout</a>
      </nav>
    </header>
  </body>
</html>
